/* General Styles */
body {
    font-family: "stevie-sans", sans-serif;
    margin: auto;
    background: #f0e5d8;
    max-width: 100%;
}

/* Header */
header {
    position: relative;
    color: #2c3e50;
}

.header-content img {
    width: 104%;
    height: 320px;
    object-fit: cover;
}

.header-content h1 {
    position: absolute;
    top: 48%;
    left: 33%;
    font-size: 3rem;
    color: #34495e;
}

/* Navigation */
nav {
    background-color: #1abc9c;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    font-size: 1.5rem;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    background: #1abc9c;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    display: block;
    border-right: 1px solid #16a085;
}

nav ul li:last-child a {
    border-right: none;
}

nav ul li a:hover {
    background-color: #16a085;
}

/* Main Content */
main {
    margin: auto;
    background: #f1c40f;
    padding: 20px;
}

.intro .content {
    align-items: center;
}

.intro img {
    width: 150px;
    margin-right: 20px;
    float: left;
}

.facts ul {
    padding-left: 20px;
}

.contact form {
    display: flex;
    flex-direction: column;
    border: 2px solid #e74c3c;
    padding: 20px;
}

.contact label {
    font-weight: bold;
    margin-top: 10px;
}

.contact input,
.contact textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 98%;
    resize: none;
}

fieldset {
    border: none;
    margin-top: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
}

fieldset label {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

button {
    width: 80px;
    margin-top: 15px;
    padding: 10px;
    background-color: #3498db;
    color: #ffffff;
    border: 1px solid #2980b9;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
    padding: 20px 20px;
    border: 2px solid #2c3e50;
    cursor: pointer;
    font-size: 16px;
}

/* Footer */
footer {
    text-align: right;
    padding: 20px 40px;
    background: #1abc9c;
    color: white;
    margin-bottom: 20px;
}
