/*General styles for lord life starfish website*/
body{
    font-family: "stevie-sans" sans-serif;
margin: auto;
background: turquoise;
max-width: 100%;
}
/*Header section for Lord life startfish*/
header{position: relative;
color: bisque;}
/*Irakoze Banner image for Lord life*/
.irakoze-banner img{
    width: 104% ;
    height: 320px;
    object-fit: cover;
}
.irakoze-banner h1{
    position: absolute;
    top: 48%;
    left: 32%;
    font-size: 3rem;
    color: beige;
}
/*Navigation bar */
nav{
    background-color: rgb(10, 127, 156);
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    font-size: 1.5rem;
    width: 100%;
}
/*Family Menu list for lord life's navigation*/
.family-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}
/*styling the individual family links*/
.family-menu li{
    flex: 1;
    text-align: center;
}
/*links for family Menu (My angel Dad)*/
.family-menu li a {
    background:  lightseagreen ;
    color: azure;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    display: block;
    border-right: 1px solid  lightseagreen;

}
/*styling for the last item in the family Menu*/
.family-menu li a:hover {
    background-color: lightseagreen;
    
}
/*Main content for lord life startfish*/
main{
    margin: auto;
    background: lightskyblue;
    padding: 20px;
   
}
/*Section for mom'journey and siblings'Tale*/
.mom-journey .siblings-tale{
    align-items: center;

}
/*mom's journey Image for family stort*/
.mom-journey img{
    width: 150px;
    margin-right: 20px;
    float: left;
}
/*contact form reaching out to lord life*/
.reach-family form{
    display: flex;
    flex-direction: column;
    border: 2px solid lightseagreen ;
    padding: 20px;
}
/*input and textarea fields for reaching out lord life*/
.reach-family input,
.reach-family textarea {
    padding: 10px;
    border: 1px solid wheat;
    border-radius: 5px;
    width: 98%;
    resize: none;
}
/*section for radio buttons*/
fieldset{
    border: none;
    margin-top: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
}
/*styling for the rado button labels in the contact form*/
fieldset label{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
/*submit button for reaching out lord life*/
button{
    width:80px ;
    margin-top: 15px;
    padding: 10px;
    background-color: blanchedalmond;
    color: aliceblue;
    border: 1px solid lightskyblue;
    cursor: pointer;
}

/*Hover Effect for the submit button*/
button:hover {
    background-color: lightskyblue;
    padding: 20px 20px;
    border: 2px solid dimgray;
    cursor: pointer;
    font-size: 15px;
}


/*Footer section for lord life starfish website*/
footer{
    text-align: right;
    padding: 20px 40px;
    background-color: lightseagreen;
    color: antiquewhite;
    margin-bottom: 20px;
}










/*footer section for lord life starfish website*/
